homeassistant:
  name: Home
  latitude: !secret home_latitude
  longitude: !secret home_longitude
  elevation: 0
  unit_system: imperial
  time_zone: America/Los_Angeles
  customize: !include customize.yaml
  customize_domain:
    automation:
      initial_state: 'on'
  packages: 
    pack_1: !include custom_components/spotify_playlist_player.yaml
    #opencv: !include custom_components/opencv_cameras.yaml
    david_lynch: !include custom_components/david_lynch_ambience.yaml
  whitelist_external_dirs:
    - '/home/homeassistant/.homeassistant/camera'

input_boolean:
  ac_on:
    name: "Is Air Conditioner On"
    initial: off
    icon: mdi:snowflake
  tv_on:
    name: "Is TV Set On"
    initial: off
    icon: mdi:television-classic
  sun_projector_on:
    name: "Is Sun Projector On"
    initial: off
    icon: mdi:weather-sunny
  motion_detected:
    name: "Was Motion Detected"
    initial: off
  beacon_lighting:
    name: "Phone Location Controls Lighting"
    initial: off

frontend:

cloud:
  alexa:
    filter:
      include_entities:
        - input_boolean.beacon_lighting
        - light.ailivingroomorb
        - group.all_color_lights
        - light.ailivingroomgascan
        - light.aikitchengascanmain
        - light.aikitchengascannozzle
        - light.aishopgascan
        - light.gas_cans
        - light.aientryumbrella
        - switch.plex
        - group.house_lights
        - scene.warm
        - switch.bedtime
    entity_config:
      light.ailivingroomorb:
        name: Orb
        description: Orb light in livingroom
        display_categories: LIGHT
      switch.bedtime:
        name: Bedtime
        description: Bedtime mode
        display_categories: SWITCH

config:

http:
  api_password: !secret api_password
  base_url: !secret base_url
  ssl_certificate: !secret ssl_cert_path
  ssl_key: !secret ssl_key
  use_x_forwarded_for: True

updater:
  include_used_components: true

discovery:
#  ignore: harmony

# Allows you to issue voice commands from the frontend in enabled browsers
conversation:

# Enables support for tracking state changes over time.
history:

# View all events in a logbook
logbook:
  exclude:
    entities:
      - sensor.aeotech_multisensor_6_ultraviolet
      - automation.motion_no_longer_detected
      - automation.motion_detected
      - sensor.aeotech_multisensor_6_sourcenodeid
      - sensor.aeotech_multisensor_6_alarm_type
      - sensor.weather_icon

sun:

sensor: !include sensor.yaml

binary_sensor: !include binary_sensor.yaml

tts:
  platform: google
  cache: True
  cache_dir: /home/homeassistant/.homeassistant/tts_cache
  time_memory: 57600


mqtt:
  broker: !secret mqtt_host
  port: !secret mqtt_port
  username: !secret mqtt_username
  password: !secret mqtt_password
  discovery: true
  discovery_prefix: homeassistant
  birth_message:
    topic: "tele/hass1/LWT"
    payload: "Online"
    qos: 1
    retain: true
  will_message:
    topic: "tele/hass1/LWT"
    payload: "Offline"
    qos: 1
    retain: true

switch: !include switch.yaml

script: !include scripts.yaml

emulated_hue:
  host_ip: !secret emulated_hue_ip
  listen_port: !secret emulated_hue_port
  exposed_domains:
    - light
    - switch
    - group
    - script
  expose_by_default: false

alexa:
snips:
dialogflow:

intent_script: !include intents.yaml

device_tracker:
  - platform: ddwrt
    host: !secret router_local_ip
    username: !secret router_username
    password: !secret router_password
    interval_seconds: 10
    consider_home: 30
  - platform: owntracks
    max_gps_accuracy: 200
    waypoints: True #setting to true means owntracks zones exportable to HA from app
    waypoint_whitelist: 
      - donkawechico
    mqtt_topic: "owntracks/#"
    events_only: false
    region_mapping:
      Sir: home

media_player:
  - platform: cast
    host: 192.168.1.110
    friendly_name: "Livingroom Cast"
  - platform: cast
    host: 192.168.1.111
    friendly_name: "Suncast"
#  - platform: cast
#    friendly_name: "Livingroom Speaker"
#    host: 192.168.1.128
#  - platform: cast
#    friendly_name: "EntryCast"
#    host: 192.168.1.142
  - platform: plex
    entity_namespace: 'plex'
# Currently, setting this to true throws an error:
# https://github.com/home-assistant/home-assistant/issues/10074
#    include_non_clients: true
    include_non_clients: false
    scan_interval: 5
    show_all_controls: true
    use_custom_entity_ids: true
    use_episode_art: true
    friendly_name: 'theater'
  - platform: spotify
    client_id: !secret spotify_client_id
    client_secret: !secret spotify_client_secret
    cache_path: /home/homeassistant/.homeassistant/.spotify-token-cache
  # - platform: ps4
  #   name: "PS4 Waker"
  #   host: 192.168.1.100
  #   cmnd: "sudo ps4-waker"

group: !include groups.yaml
automation: !include automations.yaml
scene: !include_dir_list scenes/

logger:
  default: warn
  logs:
    homeassistant.components.mqtt: error
    homeassistant.components.media_player.spotify: info
    homeassistant.components.image_processing: error
  #  homeassistant.components.media_player.plex: error

# Enables support for tracking state changes over time.
recorder:
  # Delete events and states older than 2 weeks
  purge_keep_days: 7
  purge_interval: 2
  db_url: !secret mysql_connection_string
  include:
    domains:
      - sensor
      - switch
      - light
      - input_boolean
      - automation
    entities:
      - device_tracker.nearable_bike
      - device_tracker.nearable_car
      - device_tracker.nearable_chair
      - device_tracker.beacon_workdesk
      - device_tracker.christine_phone
      - device_tracker.christines_macbook
      - device_tracker.donkawechico_sailfish
      - device_tracker.work_laptop
      - device_tracker.donkawechico_s7
  exclude:
    entities:
      - sensor.beacon_beet
      - sensor.beacon_pink
      - sensor.beacon_yellow
      - sensor.bart_departures_civic_center
      - sensor.bart_departures_ashby


#remote:
#  - platform: harmony
#    name: Harmony Hub
#    host: !secret harmony_ip

# Example configuration.yaml entry
#zone: !include_dir_merge_named zones.yaml
zone:
#   - name: Home
#     latitude: !secret zone_home_lat
#     longitude: !secret zone_home_long
#     radius: 60
#     icon: mdi:home
#     passive: false
   - name: Yammer
     latitude: !secret zone_work_lat
     longitude: !secret zone_work_long
     radius: 25
     icon: mdi:briefcase
     passive: false
   - name: bedroom
     latitude: !secret zone_home_lat
     longitude: !secret zone_home_long
     radius: 50
     passive: true
   - name: livingroom
     latitude: !secret zone_home_lat
     longitude: !secret zone_home_long
     passive: true
     radius: 50
   - name: entryway
     latitude: !secret zone_home_lat
     longitude: !secret zone_home_long
     passive: true
     radius: 50
   - name: workdesk
     latitude: !secret zone_work_lat
     longitude: !secret zone_work_long
     passive: true
     radius: 50
#   - name: Aguirowitz
#     latitude: !secret zone_aguirowitz_lat
#     longitude: !secret zone_aguirowitz_long
#     radius: 20
#     passive: false

# Example configuration.yaml entry
media_extractor:
  default_query: best
  customize:
    media_player.livingroomcast:
      video: bestvideo
      music: bestaudio

input_select:
  home_state:
    name: Home State
    options:
      - Outside
      - Entering
      - Leaving
      - Inside
      - Not home
      - Unknown
    initial: Unknown
    icon: mdi:panda
  christine_home_state:
    name: Christine Home State
    options:
      - Outside
      - Entering
      - Leaving
      - Inside
      - Not here
      - Unknown
    initial: Unknown
    icon: mdi:panda
  house_mode:
    name: House Mode
    options:
      - None
      - Theater
      - Intermission
      - Bedtime
      - All Off
    initial: None
    icon: mdi:home-modern
  privacy_mode:
    name: Privacy Mode
    options:
      - Open
      - No Cameras
      - Total Privacy
    initial: Open
    icon: mdi:home-modern

# Todo: Plug in levels and value templates:
# https://home-assistant.io/components/light.template/
#      value_template: "{{ is_state('input_boolean.kitchen_strip_on', 'on') }}"

light:
  - platform: template
    lights:
      kitchen_strip:
        friendly_name: "Kitchen Strip"
        value_template: "{{ is_state('sensor.mqtt_kitchen_strip', 'ON') }}"
        turn_on:
          service: script.turn_on
          entity_id: script.turn_on_kitchen_strip
        turn_off:
          service: script.turn_on
          entity_id: script.turn_off_kitchen_strip
  - platform: group
    name: Kitchen Lights
    entities:
      - light.aikitchengascanmain
      - light.aikitchengascannozzle
      - light.kitchen_strip
  - platform: group
    name: Gas Cans
    entities:
      - light.aikitchengascanmain
      - light.aikitchengascannozzle
      - light.ailivingroomgascan
      - light.aishopgascan


map:

hue:
  bridges:
    - host: 192.168.1.130
      allow_unreachable: true
      allow_hue_groups: false

camera:
  - platform: local_file
    name: living_room
    file_path: !secret camera_image_path_livingroom
  - platform: local_file
    name: bedroom
    file_path: !secret camera_image_path_bedroom
  - platform: local_file
    name: fridge
    file_path: !secret camera_image_path_fridge
  - platform: generic
    name: ISS
    still_image_url: https://maps.googleapis.com/maps/api/staticmap?center={{ states.binary_sensor.iss.attributes.lat }},{{ states.binary_sensor.iss.attributes.long }}&zoom=5&size=500x500&maptype=roadmap&markers=color:blue%7Clabel:P%7C{{ states.binary_sensor.iss.attributes.lat }},{{ states.binary_sensor.iss.attributes.long }}&key=!secret static_map_key
    limit_refetch_to_url_change: true

shell_command:
  take_photo_raspistill: !secret raspistill_script
  take_photo_fridge: !secret usb_camera_script_fridge
  take_photo_bedroom: !secret usb_camera_script_bedroom
  ps4_waker_plex: /usr/bin/ps4-waker start CUSA01850

zwave:
  usb_path: /dev/zwave
  polling_interval: 10000

input_text:
  chromecast_url:
    name: Chromecast Url
    
notify:
  - name: pushbullet
    platform: pushbullet
    api_key: !secret pushbullet_api_key

no_ip:
  domain: !secret base_url
  username: !secret noip_username
  password: !secret noip_password

#panel_iframe:
#  alexa:
#    title: 'Alexa'
#    url: 'https://alexa.amazon.com'
#  emulated_hue:
#    title: 'Emulated Hue Devices'
#    url: 'https://192.168.1.180/api/pi/lights'
