homeassistant:
  customize: !include customize.yaml
  unit_system: imperial
  customize_domain:
    automation:
      initial_state: 'on'
  packages: 
    pack_1: !include custom_components/spotify_playlist_player.yaml
    david_lynch: !include custom_components/david_lynch_ambience.yaml
  whitelist_external_dirs:
    - '/home/homeassistant/.homeassistant/camera'
  auth_providers:
    - type: homeassistant
    - type: legacy_api_password
      api_password: !secret api_password

input_boolean:
  ac_on:
    name: "Is Air Conditioner On"
    initial: off
    icon: mdi:snowflake
  tv_on:
    name: "Is TV Set On"
    initial: off
    icon: mdi:television-classic
  sun_projector_on:
    name: "Is Sun Projector On"
    initial: off
    icon: mdi:weather-sunny
  bedtime_projector_on:
    name: "Is Bedtime Projector On"
    initial: off
    icon: mdi:bed
  motion_detected:
    name: "Was Motion Detected"
    initial: off

frontend:

cloud:
  alexa:
    filter:
      include_entities:
        - light.ailivingroomorb
        - light.all_color_lights
        - light.ailivingroomgascan
        - light.aikitchengascanmain
        - light.aikitchengascannozzle
        - light.ailivingroomsculpture
        - light.aishopgascan
        - light.gas_cans
        - light.aientryumbrella
        - group.house_lights
        - group.bedroom
        - scene.warm
        - switch.bedtime
        - light.nanoleaf
        - script.scene_underwater
      include_domains:
        - media_player
    entity_config:
      light.ailivingroomorb:
        name: Orb
        description: Orb light in livingroom
        display_categories: LIGHT
      switch.bedtime:
        name: Bedtime
        description: Bedtime mode
        display_categories: SWITCH
      script.scene_underwater:
        name: Scene Underwater
        description: Scene Underwater
        display_categories: SCENE_TRIGGER
      script.bedtime_projector:
        name: Bedtime Projector
        description: Turn on projector in bedroom and set to sleep
        display_categories: SCENE_TRIGGER
      media_player.livingroomcast:
        name: Livingroom Cast
        description: Livingroom Chromecast
        display_categories: OTHER
      media_player.playstation_4:
        name: Playstation Console
        description: Playstation 4 Media Player
        display_categories: MEDIA_PLAYER

config:

http:
  api_password: !secret api_password
  base_url: !secret base_url
  ssl_certificate: !secret ssl_cert_path
  ssl_key: !secret ssl_key
  use_x_forwarded_for: True
  trusted_proxies:
  - 127.0.0.1
  - ::1
  trusted_networks:
  - 127.0.0.1
  - ::1
  - 192.168.0.0/24
  ip_ban_enabled: false
  login_attempts_threshold: -1

updater:
  include_used_components: true

discovery:

# Enables support for tracking state changes over time.
history:

# View all events in a logbook
logbook:
  exclude:
    entities:
      - sensor.aeotech_multisensor_6_ultraviolet
      - sensor.aeotech_multisensor_6_sourcenodeid
      - sensor.aeotech_multisensor_6_alarm_type
      - sensor.weather_icon
      - sensor.yr_symbol

sun:

sensor: !include sensor.yaml

binary_sensor: !include binary_sensor.yaml

mqtt:
  broker: !secret mqtt_host
  port: !secret mqtt_port
  username: !secret mqtt_username
  password: !secret mqtt_password
  discovery: true
  discovery_prefix: homeassistant
  birth_message:
    topic: "tele/hass1/LWT"
    payload: "Online"
    qos: 1
    retain: true
  will_message:
    topic: "tele/hass1/LWT"
    payload: "Offline"
    qos: 1
    retain: true

switch: !include switch.yaml

script: !include scripts.yaml

emulated_hue:
  host_ip: !secret emulated_hue_ip
  listen_port: !secret emulated_hue_port
  exposed_domains:
    - light
    - switch
    - group
    - script
  expose_by_default: false

alexa:
  smart_home:
    endpoint: https://api.amazonalexa.com/v3/events
    
dialogflow:

intent_script: !include intents.yaml

device_tracker:
  - platform: ddwrt
    host: !secret router_local_ip
    username: !secret router_username
    password: !secret router_password
    interval_seconds: 10
    consider_home: 180
  - platform: google_maps
    username: !secret googlebot_username
    password: !secret googlebot_password
    max_gps_accuracy: 100
group: !include groups.yaml
automation: !include automations.yaml
scene: !include_dir_list scenes/

logger:
  default: critical
  logs:
    homeassistant.components: info
    homeassistant.components.device_tracker: info
    homeassistant.components.device_tracker.ddwrt: warning
    homeassistant.components.mqtt: error
    homeassistant.components.media_player.spotify: info
    homeassistant.components.image_processing: error
    homeassistant.components.http.view: critical
    homeassistant.components.appdaemon: debug

# Enables support for tracking state changes over time.
recorder:
  # Delete events and states older than 2 weeks
  purge_keep_days: 7
  purge_interval: 2
  db_url: !secret mysql_connection_string
  include:
    domains:
      - sensor
      - switch
      - light
      - input_boolean
      - automation
    entities:
      - device_tracker.christine_phone
      - device_tracker.christines_macbook
      - device_tracker.donniesmbp
      - device_tracker.donnie_pixel_2
  exclude:
    entities:
      - input_text.api_password

zone:
  - name: Yammer
    latitude: !secret zone_work_lat
    longitude: !secret zone_work_long
    radius: 75
    icon: mdi:briefcase
    passive: false
  - name: Aguirowitz
    latitude: !secret zone_aguirowitz_lat
    longitude: !secret zone_aguirowitz_long
    radius: 20
    passive: false
  - name: OMCA
    latitude: 37.79870
    longitude: -122.26330
    radius: 150
    passive: false
  - name: Pool Hall
    latitude: !secret pool_hall_lat
    longitude: !secret pool_hall_long
    radius: 50
    passive: false

# Example configuration.yaml entry
media_extractor:
  default_query: best
  customize:
    media_player.livingroomcast:
      video: bestvideo
      music: bestaudio

input_select:
  privacy_mode:
    name: Privacy Mode
    options:
      - Open
      - No Cameras
      - Total Privacy
    initial: Open
    icon: mdi:home-modern

light:
  - platform: template
    lights:
      kitchen_strip:
        friendly_name: "Kitchen Strip"
        value_template: "{{ is_state('sensor.mqtt_kitchen_strip', 'ON') }}"
        turn_on:
          service: script.turn_on
          entity_id: script.turn_on_kitchen_strip
        turn_off:
          service: script.turn_on
          entity_id: script.turn_off_kitchen_strip
  - platform: group
    name: Kitchen Lights
    entities:
      - light.aikitchengascanmain
      - light.aikitchengascannozzle
      - light.kitchen_strip
  - platform: group
    name: Gas Cans
    entities:
      - light.aikitchengascanmain
      - light.aikitchengascannozzle
      - light.ailivingroomgascan
      - light.aishopgascan
  - platform: group
    name: All Color Lights
    entities:
      - light.aikitchengascanmain
      - light.aikitchengascannozzle
      - light.ailivingroomorb
      - light.ailivingroomgascan
      - light.aientryumbrella
      - light.the_sun
      - light.chandelier
      - light.nightstand
      - light.aishopgascan
      - light.ailivingroomsculpture
      - light.nanoleaf
  - platform: nanoleaf
    host: !secret nanoleaf_ip
    token: !secret nanoleaf_token
  - platform: mqtt
    schema: json
    name: 'ailivingroomorb'
    state_topic: 'home/livingroom/light/orb'
    command_topic: 'home/livingroom/light/orb/set'
    color_temp: true
    brightness: true
    rgb: true
    white_value: true
    effect: true
    optimistic: false
  - platform: mqtt
    schema: json
    name: 'ailivingroomsculpture'
    state_topic: 'home/livingroom/light/sculpture'
    command_topic: 'home/livingroom/light/sculpture/set'
    color_temp: true
    brightness: true
    rgb: true
    white_value: true
    effect: true
    optimistic: false
  - platform: mqtt
    schema: json
    name: 'ailivingroomgascan'
    state_topic: 'home/livingroom/light/gascan'
    command_topic: 'home/livingroom/light/gascan/set'
    color_temp: true
    brightness: true
    rgb: true
    white_value: true
    effect: true
    optimistic: false
  - platform: mqtt
    schema: json
    name: 'aikitchengascanmain'
    state_topic: 'home/kitchen/light/gascan/main'
    command_topic: 'home/kitchen/light/gascan/main/set'
    color_temp: true
    brightness: true
    rgb: true
    white_value: true
    effect: true
    optimistic: false
  - platform: mqtt
    schema: json
    name: 'aikitchengascannozzle'
    state_topic: 'home/kitchen/light/gascan/nozzle'
    command_topic: 'home/kitchen/light/gascan/nozzle/set'
    color_temp: true
    brightness: true
    rgb: true
    white_value: true
    effect: true
    optimistic: false
  - platform: mqtt
    schema: json
    name: 'aientryumbrella'
    state_topic: 'home/entry/light/umbrella'
    command_topic: 'home/entry/light/umbrella/set'
    color_temp: true
    brightness: true
    rgb: true
    white_value: true
    effect: true
    optimistic: false
  - platform: mqtt
    schema: json
    name: 'aishopgascan'
    state_topic: 'home/shop/light/gascan'
    command_topic: 'home/shop/light/gascan/set'
    color_temp: true
    brightness: true
    rgb: true
    white_value: true
    effect: true
    optimistic: false

map:

hue:
  bridges:
    - host: 192.168.1.130
      allow_unreachable: true
      allow_hue_groups: false

camera:
  - platform: local_file
    name: living_room
    file_path: !secret camera_image_path_livingroom
  - platform: local_file
    name: bedroom
    file_path: !secret camera_image_path_bedroom
  - platform: local_file
    name: fridge
    file_path: !secret camera_image_path_fridge
  - platform: local_file
    name: pizero
    file_path: !secret camera_image_path_pizero

shell_command:
  take_photo_raspistill: !secret raspistill_script
  take_photo_raspistill_pizero: !secret raspistill_script_pizero
  take_photo_fridge: !secret usb_camera_script_fridge
  take_photo_bedroom: !secret usb_camera_script_bedroom
  reboot_router: !secret reboot_script

zwave:
  usb_path: /dev/zwave
  polling_interval: 10000

input_text:
  api_password:
    name: API Password
    initial: !secret api_password
    mode: password
    
notify:
  - name: pushbullet
    platform: pushbullet
    api_key: !secret pushbullet_api_key
  - name: telegram
    platform: telegram
    chat_id: 643816930
panel_custom:
  - name: floorplan
    sidebar_title: Floorplan
    sidebar_icon: mdi:home
    url_path: floorplan
#    webcomponent_path: /home/homeassistant/.homeassistant/panels/ha-floorplan.html
    config: !include floorplan.yaml

climate:
  - platform: generic_thermostat
    name: Living room
    heater: switch.air_conditioner
    target_sensor: sensor.dew_point
    ac_mode: true
    min_temp: 50.0
    max_temp: 75.0
    target_temp: 57.0
    initial_hvac_mode: "cool"
    keep_alive:
      minutes: 6000
    hot_tolerance: 0
    cold_tolerance: 0
    min_cycle_duration:
      seconds: 5
    away_temp: 70.0
    precision: 0.1

vacuum:
  - platform: roomba
    host: !secret roomba_ip
    username: !secret roomba_blid
    password: !secret roomba_password

system_health:

media_player:
  - platform: spotify
    client_id: !secret spotify_client_id
    client_secret: !secret spotify_client_secret
    cache_path: /home/homeassistant/.homeassistant/.spotify-token-cache
  - platform: plex

# Example configuration.yaml entry for the Telegram Bot
telegram_bot:
  - platform: polling
    api_key: 978995231:AAGt2D5dyeFu4BN4o45302YR4itUkAFhWkE
    allowed_chat_ids:
      - 643816930

