
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  padding: 0;
}

body {
  margin: 0;
  background-color: #222;
  font-size: 15px;
  color: #fff;
  padding: 0;
  line-height: 1;
  font-family: 'Helvetica Neue', 'Helvetica', 'Open Sans', 'Arial'
}

b, strong {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

img, object {
  max-width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;}

iframe {
  max-width: 100%;
}
  
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

td {
  vertical-align: middle;
}

ul, ol {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0;
}
h1 {
  margin-bottom: 6px;
  text-align: center;
  font-size: 100%;
  font-weight: 200;
}
h2 {
  font-size: 300%;
  font-weight: 400;
  color: #fff;
}
h3 {
  font-size: 125%;
  font-weight: 300;
  color: #fff;
}

input {
  background-color: #444;
  border: none;
}

.dashboard_main {
	margin: 0px auto;
}

.gridster {
  margin: 0px auto;
}

.icon-background {
  pointer-events: none;
  width: 100%!important;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.1;
  font-size: 1375%;
  text-align: center;
  margin-top: 82px;
}

.list-nostyle {
  list-style: none;
}

.gridster ul {
  list-style: none;
}

.gs-w {
  width: 100%;
  display: table;
  cursor: pointer;
  z-index: auto !important;
}

.iframe {
  position: relative;
  overflow: hidden;  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;}

.widget {
  padding: 0px 0px;
  text-align: center;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  background-color: #444444;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;}

  .title {
    color: #fff;
  }

  .icon-inactive {
    color: #888;
  }

  .icon-active {
    color: #aaff00;
  }
}

#container {
  padding-top: 0px;
}

.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 9999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialogOpen {
	opacity:0.95;
	pointer-events: auto;
}

.modalDialogClose {
	opacity:0;
	pointer-events: none;
}

.modalDialog > div {
	width: 275px;
	position: relative;
	margin: 3% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
}

.modalDialogCloseButton {
	line-height: 50px;
	position: absolute;
	right: -25px;
	text-align: center;
	top: -20px;
	width: 50px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}

.modalDialogCloseButton:hover { background: #444; }
.widget-baseclock-default-clock-clock.date {
	position: absolute;
	top: 5px;
	width: 100%;
}
.widget-baseclock-default-clock-clock.time {
 	position: absolute;
	top: 45px;
	width: 100%;
}
.widget-basedisplay-default-label-sensors .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-label-sensors .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-label-sensors .valueunit {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-basedisplay-default-label-sensors .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-label-sensors .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-label-sensors .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basedisplay-default-sensor-front-door .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-sensor-front-door .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-sensor-front-door .valueunit {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-basedisplay-default-sensor-front-door .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-sensor-front-door .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-sensor-front-door .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-dark-outside-sensor {
	position: relative;
}

.widget-baseswitch-default-dark-outside-sensor .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-dark-outside-sensor .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-dark-outside-sensor .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-dark-outside-sensor .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-dark-outside-sensor .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-baseswitch-default-donnie-presence {
	position: relative;
}

.widget-baseswitch-default-donnie-presence .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-donnie-presence .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-donnie-presence .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-donnie-presence .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-donnie-presence .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-baseswitch-default-christine-presence {
	position: relative;
}

.widget-baseswitch-default-christine-presence .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-christine-presence .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-christine-presence .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-christine-presence .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-christine-presence .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-basedisplay-default-pir-1 .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-pir-1 .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-pir-1 .valueunit {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-basedisplay-default-pir-1 .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-pir-1 .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-pir-1 .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basedisplay-default-label-rooms .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-label-rooms .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-label-rooms .valueunit {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-basedisplay-default-label-rooms .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-label-rooms .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-label-rooms .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basedisplay-default-label-scenes .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-label-scenes .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-label-scenes .valueunit {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-basedisplay-default-label-scenes .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-label-scenes .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-label-scenes .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basedisplay-default-label-sync .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-label-sync .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-label-sync .valueunit {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-basedisplay-default-label-sync .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-label-sync .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-label-sync .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baselight-default-house-lights {
	position: relative;
}

.widget-baselight-default-house-lights .state_text {
	font-size: 85%;
}

.widget-baselight-default-house-lights .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baselight-default-house-lights .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baselight-default-house-lights .state_text {
	position: absolute;
	top: 38px;
	width: 100%;
}

.widget-baselight-default-house-lights .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baselight-default-house-lights .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 75%;
}

.widget-baselight-default-house-lights .level {
	display: inline-block;
}

.widget-baselight-default-house-lights .unit {
	display: inline-block;
}

.widget-baselight-default-house-lights .levelunit {
	position: absolute;
	bottom: 5px;
	width: 100%;
}

.widget-baselight-default-house-lights .secondary-icon {
	position: absolute;
	bottom: 0px;
	font-size: 20px;
	width: 32px;
	color: white;
}

.widget-baselight-default-house-lights .secondary-icon.plus {
	right: 24px;
}

.widget-baselight-default-house-lights .secondary-icon.plus i {
	padding-top: 10px;
	padding-left: 30px;
}

.widget-baselight-default-house-lights .secondary-icon.minus {
	left: 8px;
}

.widget-baselight-default-house-lights .secondary-icon.minus i {
	padding-top: 10px;
	padding-right: 30px;
}
.widget-baselight-default-livingroom {
	position: relative;
}

.widget-baselight-default-livingroom .state_text {
	font-size: 85%;
}

.widget-baselight-default-livingroom .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baselight-default-livingroom .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baselight-default-livingroom .state_text {
	position: absolute;
	top: 38px;
	width: 100%;
}

.widget-baselight-default-livingroom .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baselight-default-livingroom .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 75%;
}

.widget-baselight-default-livingroom .level {
	display: inline-block;
}

.widget-baselight-default-livingroom .unit {
	display: inline-block;
}

.widget-baselight-default-livingroom .levelunit {
	position: absolute;
	bottom: 5px;
	width: 100%;
}

.widget-baselight-default-livingroom .secondary-icon {
	position: absolute;
	bottom: 0px;
	font-size: 20px;
	width: 32px;
	color: white;
}

.widget-baselight-default-livingroom .secondary-icon.plus {
	right: 24px;
}

.widget-baselight-default-livingroom .secondary-icon.plus i {
	padding-top: 10px;
	padding-left: 30px;
}

.widget-baselight-default-livingroom .secondary-icon.minus {
	left: 8px;
}

.widget-baselight-default-livingroom .secondary-icon.minus i {
	padding-top: 10px;
	padding-right: 30px;
}
.widget-baselight-default-kitchen {
	position: relative;
}

.widget-baselight-default-kitchen .state_text {
	font-size: 85%;
}

.widget-baselight-default-kitchen .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baselight-default-kitchen .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baselight-default-kitchen .state_text {
	position: absolute;
	top: 38px;
	width: 100%;
}

.widget-baselight-default-kitchen .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baselight-default-kitchen .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 75%;
}

.widget-baselight-default-kitchen .level {
	display: inline-block;
}

.widget-baselight-default-kitchen .unit {
	display: inline-block;
}

.widget-baselight-default-kitchen .levelunit {
	position: absolute;
	bottom: 5px;
	width: 100%;
}

.widget-baselight-default-kitchen .secondary-icon {
	position: absolute;
	bottom: 0px;
	font-size: 20px;
	width: 32px;
	color: white;
}

.widget-baselight-default-kitchen .secondary-icon.plus {
	right: 24px;
}

.widget-baselight-default-kitchen .secondary-icon.plus i {
	padding-top: 10px;
	padding-left: 30px;
}

.widget-baselight-default-kitchen .secondary-icon.minus {
	left: 8px;
}

.widget-baselight-default-kitchen .secondary-icon.minus i {
	padding-top: 10px;
	padding-right: 30px;
}
.widget-baseswitch-default-underwater-scene {
	position: relative;
}

.widget-baseswitch-default-underwater-scene .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-underwater-scene .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-underwater-scene .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-underwater-scene .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-underwater-scene .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-baseswitch-default-darkness-scene {
	position: relative;
}

.widget-baseswitch-default-darkness-scene .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-darkness-scene .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-darkness-scene .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-darkness-scene .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-darkness-scene .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-baselight-default-kitchen-strip {
	position: relative;
}

.widget-baselight-default-kitchen-strip .state_text {
	font-size: 85%;
}

.widget-baselight-default-kitchen-strip .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baselight-default-kitchen-strip .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baselight-default-kitchen-strip .state_text {
	position: absolute;
	top: 38px;
	width: 100%;
}

.widget-baselight-default-kitchen-strip .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baselight-default-kitchen-strip .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 75%;
}

.widget-baselight-default-kitchen-strip .level {
	display: inline-block;
}

.widget-baselight-default-kitchen-strip .unit {
	display: inline-block;
}

.widget-baselight-default-kitchen-strip .levelunit {
	position: absolute;
	bottom: 5px;
	width: 100%;
}

.widget-baselight-default-kitchen-strip .secondary-icon {
	position: absolute;
	bottom: 0px;
	font-size: 20px;
	width: 32px;
	color: white;
}

.widget-baselight-default-kitchen-strip .secondary-icon.plus {
	right: 24px;
}

.widget-baselight-default-kitchen-strip .secondary-icon.plus i {
	padding-top: 10px;
	padding-left: 30px;
}

.widget-baselight-default-kitchen-strip .secondary-icon.minus {
	left: 8px;
}

.widget-baselight-default-kitchen-strip .secondary-icon.minus i {
	padding-top: 10px;
	padding-right: 30px;
}
.widget-baseswitch-default-sync-kitchen-strip {
	position: relative;
}

.widget-baseswitch-default-sync-kitchen-strip .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-sync-kitchen-strip .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-sync-kitchen-strip .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-sync-kitchen-strip .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-sync-kitchen-strip .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-baselight-default-shop {
	position: relative;
}

.widget-baselight-default-shop .state_text {
	font-size: 85%;
}

.widget-baselight-default-shop .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baselight-default-shop .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baselight-default-shop .state_text {
	position: absolute;
	top: 38px;
	width: 100%;
}

.widget-baselight-default-shop .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baselight-default-shop .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 75%;
}

.widget-baselight-default-shop .level {
	display: inline-block;
}

.widget-baselight-default-shop .unit {
	display: inline-block;
}

.widget-baselight-default-shop .levelunit {
	position: absolute;
	bottom: 5px;
	width: 100%;
}

.widget-baselight-default-shop .secondary-icon {
	position: absolute;
	bottom: 0px;
	font-size: 20px;
	width: 32px;
	color: white;
}

.widget-baselight-default-shop .secondary-icon.plus {
	right: 24px;
}

.widget-baselight-default-shop .secondary-icon.plus i {
	padding-top: 10px;
	padding-left: 30px;
}

.widget-baselight-default-shop .secondary-icon.minus {
	left: 8px;
}

.widget-baselight-default-shop .secondary-icon.minus i {
	padding-top: 10px;
	padding-right: 30px;
}
.widget-baselight-default-bedroom {
	position: relative;
}

.widget-baselight-default-bedroom .state_text {
	font-size: 85%;
}

.widget-baselight-default-bedroom .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baselight-default-bedroom .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baselight-default-bedroom .state_text {
	position: absolute;
	top: 38px;
	width: 100%;
}

.widget-baselight-default-bedroom .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baselight-default-bedroom .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 75%;
}

.widget-baselight-default-bedroom .level {
	display: inline-block;
}

.widget-baselight-default-bedroom .unit {
	display: inline-block;
}

.widget-baselight-default-bedroom .levelunit {
	position: absolute;
	bottom: 5px;
	width: 100%;
}

.widget-baselight-default-bedroom .secondary-icon {
	position: absolute;
	bottom: 0px;
	font-size: 20px;
	width: 32px;
	color: white;
}

.widget-baselight-default-bedroom .secondary-icon.plus {
	right: 24px;
}

.widget-baselight-default-bedroom .secondary-icon.plus i {
	padding-top: 10px;
	padding-left: 30px;
}

.widget-baselight-default-bedroom .secondary-icon.minus {
	left: 8px;
}

.widget-baselight-default-bedroom .secondary-icon.minus i {
	padding-top: 10px;
	padding-right: 30px;
}
.widget-baseswitch-default-theater-scene {
	position: relative;
}

.widget-baseswitch-default-theater-scene .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-theater-scene .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-theater-scene .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-theater-scene .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-theater-scene .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-baseswitch-default-warm-scene {
	position: relative;
}

.widget-baseswitch-default-warm-scene .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-warm-scene .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-warm-scene .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-warm-scene .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-warm-scene .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-basedisplay-default-label-state .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-label-state .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-label-state .valueunit {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-basedisplay-default-label-state .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-label-state .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-label-state .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

